@import 'less/grid.less';


////////////////
// TYPOGRAPHY //
////////////////

@font-face {
    font-family: 'Humanst521BTRoman';
    src: url('../../font/humanist_521_bt-webfont.eot');
    src: url('../../font/humanist_521_bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/humanist_521_bt-webfont.woff') format('woff'),
         url('../../font/humanist_521_bt-webfont.ttf') format('truetype'),
         url('../../font/humanist_521_bt-webfont.svg#Humanst521BTRoman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Humnst777BTRoman';
    src: url('../../font/hum777n-webfont.eot');
    src: url('../../font/hum777n-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/hum777n-webfont.woff') format('woff'),
         url('../../font/hum777n-webfont.ttf') format('truetype'),
         url('../../font/hum777n-webfont.svg#Humnst777BTRoman') format('svg');
    font-weight: normal;
    font-style: normal;

}


////////////
// COLORS //
////////////

@blue: #0099FF;
@blue-10: (lighten(@blue,-7,5%));	/* #0084DB */
@blue-20: (lighten(@blue,-15%));	/* #006BB3 */
@blue-30: (lighten(@blue,-22,5%));	/* #00568F */
@blue-40: (lighten(@blue,-30%));	/* #003D66 */
@blue-50: (lighten(@blue,-37,5%));	/* #002842 */
@blue-60: (lighten(@blue,-42,5%));	/* #001829 */

@silver: (rgb(248,250,250));		/* #F8FAFA */
@silver-10: (rgb(235,239,239));		/* #EBEFEF */
@silver-20: (rgb(230,234,234));		/* #E6EAEA */
@silver-30: (rgb(220,224,224));		/* #DCE0E0 */
@silver-40: (rgb(210,214,214));		/* #D2D6D6 */
@silver-50: (rgb(200,204,204));		/* #C8CCCC */
@silver-60: (rgb(190,194,194));		/* #BEC2C2 */

@gray: #738490;
@gray-10: (lighten(@gray,-10%));	/* #5C6A74 */
@gray-20: (lighten(@gray,-20%));	/* #455058 */
@gray-30: (lighten(@gray,-30%));	/* #2F363B */
@gray-40: (lighten(@gray,-40%));	/* #181C1F */


////////////
// GLOBAL //
////////////

body {
	/* 10px / 18px */

	font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.8em;
}

.tiny {
	/* 10px / 18px */

	font-size: 1em;
  	line-height: 1.8em;
  	text-transform: uppercase;
}

.small, p {
  	/* 14px / 18px */

  	font-size: 1.4em;
  	line-height: 1.286em;
}

.normal, h4 {
  	/* 16px / 18px */

  	font-size: 1.6em;
  	line-height: 1.125em;
}

.large, h3 {
  	/* 18 / 36px */

  	font-size: 1.8em;
  	line-height: 2em;
}

.huge, h2 {
  	/* 27 / 36px */

  	font-size: 2.7em;
  	line-height: 1.333em;
}

.gigantic, h1 {
	/* 36 / 54px */

	font-size: 3.6em;
  	line-height: 1.5em;
}

.type-humanist {
	/* tipografia institucional */

	font-family: "Humanst521BTRoman", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}

.border-silver(@width: 1px 0) {
	/* use '.border-silver(top left right bottom)' para definir espessura da borda */

	border-width: @width;
	border-style: solid;
	border-color: @silver-60;
}

.border-blue(@width: 0 0 2px 0) {
	/* use '.border-blue(top left right bottom)' para definir espessura da borda */

	border-width: @width;
	border-style: solid;
	border-color: @blue-20;
}

a {
	text-decoration: none;
	color: @blue-40 !important;
	&:hover {
		color: @blue-50 !important;
	}
}


//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 60;
@gutter-width: 20;

// Remove the definition below for a pixel-based layout
@total-width: 100%;



////////////
// LAYOUT //
////////////

#globalbar {
	border-bottom: 1px solid #E0E0E0;
	height: 3.6em;
		#navbar	{ 
			margin: 0 auto;
			font-size: 1.2em;
			ul {
				width: auto;
				margin: 0;
				display: inline;
				}
			ul li {
				float: left;
				}
			#top-nav { 
				.type-humanist;
				float: left;
				padding: 0 0 0 0.5em;
				
				a { 
					margin: .25em 0 0;
					padding: 0 0.5em;
					display: block;
					line-height: 2.5em;
					color: #071926;
					text-decoration: none;
					&:hover {
						border-bottom: 0.25em solid #0073BF;
						}
					}

				ul { 
					margin: 0;
					}
			}
		} 
}

#signature { 
	height: 10.8em;
	a.marca	{
		height: 7.2em;
		float: left;
		margin-top: 1.8em;
		}
	a.marca img {
		margin: 0 0 0 1em;
		padding: 0.6em 1.8em 0.6em 0;
		border-right: 0.1em solid #738490;
		}		
	a.tipo {
		.type-humanist;
		line-height: 2.667em;
		width: 11.667em;
		font-size: 2.7em;
		text-decoration: none;
		display: block;
		float: left;
		margin: 0.667em 0 0 0.667em;
		color: #0073BF;
		}
}


#menubar {
	height: 3em;
	margin: 0 auto;
	font-size: 1.2em;
	border-bottom: solid 1px #001829;
	background: #00548c; /* Old browsers */
	background: -moz-linear-gradient(top,  #00548c 0%, #003659 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00548c), color-stop(100%,#003659)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00548c 0%,#003659 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00548c 0%,#003659 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00548c 0%,#003659 100%); /* IE10+ */
	background: linear-gradient(top,  #00548c 0%,#003659 100%); /* W3C */
	box-shadow: 0 3px 3px 1px #5B6972;

	ul { 
		width: auto;
		margin: 0;
		display: inline;
		}
	ul li {
		float: left;
		}
	#menu-nav { 
		font-family: Arial, Helvetica, sans-serif;
		a { 
			padding: 0 5px;
			display: block;
			color: #FFFFFF;
			text-decoration: none;
			&:hover { 
				color: #0073BF;
				}
			}
		li { 
			line-height: 36px;
			&:hover {
				border-left: 1px solid #003659;
				border-right: 1px solid #003659;
				box-shadow: 0px 5px 5px #B1B2B2 inset;
				background-color: #E0E0E0;
				}
			}
		a:hover { 
			color: #0073BF;
			padding: 0 4px;

			}
		li { 
			line-height: 36px;
			}
		li:hover {
			border-top: 1px solid #B2B2B2;
			border-left: 1px solid #003659;
			border-right: 1px solid #003659;
			box-shadow: 0px 5px 5px #B1B2B2 inset;
			background-color: #E0E0E0;
>>>>>>> 86b0666f967a8216fc8faccda2ddea1f3643b14a
			}
		ul {
			margin: 0;
			}
		#skip {
			display: none;
		}
	}
}

#container-content, #navbar, #signature, #menu-nav { margin: 0 auto; overflow: hidden; }
	
	#menu-nav
	nav#access,
	footer	{
		.column(12);
	}
			
	#container-content {

		span, time { .tiny; }

		h3 { 
		.type-humanist;
		.border-blue(0 0 0.111em 0); /* 2px */
		font-weight: normal; 
		line-height: 1.889em; /*34px*/ 
		color: @blue-20; 
		margin-bottom: 0.5em;
		}

		h4 { 
			font-weight: normal; 
			color: @blue-30; }

		section#menu-rapido {
			.column(3);
			.pull(1);
			margin-top: 1.8em;
		}
		section#ultimas-pautas,
		section#ultimos-artigos,
		section#destaque-fotos,
		section#proximos-eventos {
			.column(4);
			margin-top: 1.8em;
		}

		section#destaque-fotos {				
			.push(4);
		}

		section#ultimas-pautas,
		section#ultimos-artigos,
		section#destaque-fotos {

			article {
				padding: .9em 3.125%;
			}

			footer a {
				.tiny;
				.border-silver(0.1em 0); /* 1px */
				line-height: 1.6em;
				display: block;
				padding: 0 3.125%;
				&:hover {
					background-color: @silver-20;
				}
			}
		}
	}

@media screen and (max-width: 600px) {

	#container-content { 
		section#menu-rapido,
		section#ultimas-pautas,
		section#ultimos-artigos,
		section#destaque-fotos,
		section#proximos-eventos {
			.column(12); background: #cccccc;
		}

		section#destaque-fotos {				
			.push(0);
		}
	}
}

@media screen and (min-width: 320px) { 
	#container-content, #navbar, #signature, #menu-nav { width: 288px; } 
}

@media screen and (min-width: 480px) { 
	#container-content, #navbar, #signature, #menu-nav { width: 432px; }
}

@media screen and (min-width: 600px) {
	#container-content, #navbar, #signature, #menu-nav { width: 576px; }
}

@media screen and (min-width: 1024px) {
	#container-content, #navbar, #signature, #menu-nav { width: 864px; }
}

@media screen and (min-width: 1280px) {
	#container-content, #navbar, #signature, #menu-nav { width: 1152px; }
}

@media screen and (min-width: 2560px) {
	#container-content, #navbar, #signature, #menu-nav { width: 1296px; }
}